.container {
  max-width: 36rem;
  padding: 2rem;
  margin: 2rem auto 6rem;
  background-color: aliceblue;
  box-shadow: 1rem 1rem #f3db00;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -1rem 0rem #00c2f3;
}

.backToHome {
  margin: 3rem 0 0;
  border: 10rem;
}
