@tailwind base;
@tailwind components;
@tailwind utilities;

.min-h-screen {
    background-image: url("https://api.ghser.com/random/api.php");
}

.card-body {
    max-width: 1200px;
}

.prose {
    min-width: none;
}

.card {
    max-width: 400px;
}